.task_card {
    padding: .3rem;
    border-radius: 12px;
    transition: background-color box-shadow 300ms linear;
}
.task_card:hover {
     background-color: #fff;
     box-shadow: 6px 12px 35px rgba(0,0,0,0.05);
}
.icon_task_container {
     padding: 1rem;
     background-color: var(--sekiaBgOrange);
     border-radius: 12px;
}
 input[type="checkbox"] {
      position: absolute;
      right: 20px;
      width: .8rem; 
      height: .8rem;
 }
 .relative { 
    position: relative;
 }

 input[type="checkbox"]:checked + .task_content_container >  p:first-child {
     text-decoration: line-through;
 }