.main_container {
      background-color: var(--sekiaGray);
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      padding:.5rem;
}
.hover:hover {
       cursor: pointer;
}

.header_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
}

.highlighted_orange {
      color: var(--sekiaOrange);
      font-weight: 500;
}
h2 {
       font-size: 18px;
}

.input_style {

      all: unset;
      box-shadow: 6px 10px 35px 0px rgba(0, 0, 0, 0.05);
      padding: .5rem .8rem;
      border-radius: 50px;
      background-color: #fff;
      display: none;
}

.show_schedule_btn {
      display: block;
      margin-left: .4rem;
}

.show_schedule_btn:hover {
      cursor: pointer
}

select {
      background-color: transparent;
      border: none;
      font-size: 12px;
}
select:focus {
       outline: none;
}

.dots > * { 
    width: 16px;
    height: 16px;
}

.flex-wrap {
      flex-wrap: wrap;
      gap: 1rem;
}

.row_layout {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: .5rem
}

.rounded-icon {
      display: inline-flex;
      padding: .4rem;
      border-radius: 50px;
      background-color: white;
      box-shadow: 6px 10px 35px 0px rgba(0, 0, 0, 0.1);
}

.filter_icons_container {
      display: none;
}

@media screen and (min-width:550px) {
      .header_container {
            flex-direction: row;
      }
      .search_icon-550 {
             display: none;
      }

      .filter_icons_container {
            display: flex;
      }
      .input_style {
             display: block;
      }

      .dots {
            display: none;
      }
      select{
             font-size: 16px;
      }
      .profiles_container img {
             height: 30px;
             width: 30px;
      }
      h2 {
             font-size:x-large;
      }
}

@media screen and (min-width:769px) {
      .icon-769 {
             display: none;
      }
      
}

@media screen and (min-width:1025px) {
      .show_schedule_btn {
            display: none;
      }
}