.rounded_box {
    padding: .25rem .4rem;
    width: fit-content;
    border-radius: 50px;
    white-space: nowrap;
    font-size:10px;
}
.rounded_box:hover {
     cursor: pointer;
}

.OrangeTheme  {
    background-color: var(--sekiaBgOrange);
    color:var(--sekiaOrange);
}

.BlueTheme {
     background-color: var(--bgBluedark);
     color:var(--blueDark)
}

@media screen and (min-width:550px) {
    .rounded_box {
         font-size: 12px;
         padding: .5rem .8rem;
    }
}